{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<hr style="margin-top: 30px">

    <div class="container">
        <div class="row">

                <div class="panel panel-default widget" id="upcoming_events">
                    <div class="panel-heading">
                        <h3 class="panel-title">Contact Us</h3>
                    </div>
                    <div class="panel-body" id="event_panel">
                        <h4>Glad to hear from you !</h4   >
                    </div>
                    <div class="panel-body">
                        <p>Hey, I'm Vlad. Thanks for willing to contact us. Mostly developing and issues handling is done by me - Vlad Tyum. Yet recently I was lucky to get support of good guys with event organising and PR</p>
                        <p>Scan my wechat in below, and I'll help you or introduce to related person</p>
                        <p>Thanks</p>
                    </div>
                    <div class="panel-body">
                        <p>For code contributing: <a href="https://github.com/vladtyum/SzMakers">https://github.com/vladtyum/SzMakers</a></p>
                    </div>
                    <div class="panel-body">
                        <img class="img-responsive col-xs-6 col-sm-5 col-md-4 col-lg-3" src="{% static 'img/vlad_qr.jpg' %}" >
                    </div>
                </div>
        </div>
    </div>




<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}
